{
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:flowtype/recommended",
    "prettier/flowtype"
  ],
  "plugins": ["prettier", "flowtype"],
  "rules": {
    "prettier/prettier": "error"
  }
}
